<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Question 5</title>
    <script type="text/javascript">
$(function(){
    $('button').bind( 'click', function(xhr) {
        if($(this).hasClass("true")){
        var token1 = $('input#csrf-token').attr("content");
            $.ajax({
                 type: "PUT",
                  url: "http://www.localhost:8080/amount",
                  beforeSend: function (request) { request.setRequestHeader("X-CSRF-TOKEN", token1);},
                });
            };
        top.location.href = 'http://www.localhost:8080/result';
    });
});
    </script>
</head>

<body>
<input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
<p>Question 5. Please choose correct option</p>
<br>
<div>
    <button class="true">Вариант 1</button>
    <button class="false">Вариант 2</button>
    <button class="false">Вариант 3</button>
    <button class="false">Вариант 4</button>
</div>
</body>

</html>